<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #766C6A;
    height: 50px;
    font-size: 30px;
}
.signup {
	background-color: #ECF0F1;
}
</style>
<h1>Welcome</h1>
<div class="col-md-3" ng-controller='app'>
	<div class="signup">
		<h3>hey are intersted in save your task and manage your projects </h3>
	</div>
</div>
	<div class="col-md-3 signup">
		<h3>Please Signup if want to start the adventure </h3>
		<button class="btn">signup </button>
		<h3>And if you have account you could simply login here</h3>
		<button class="btn">login</button>
	</div>
	<div class='footer'>
	<footer class="container-fluid text-center">
  <p> Copyright</p>  
</footer>
</div>
