  h3, h4 {
    margin: 10px 0 30px 0;
    font-size: 20px;
    color: #111;
  }
  .container {
    padding: 80px 120px;
  }
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .person:hover {
    border-color: #f1f1f1;
  }
  .carousel-inner img {
   -webkit-filter: opacity(.4);
   filter: opacity(.4);/* make all photos black and white */ 
   width: 100%; /* Set width to 100% */
   margin: auto;
 }
 .carousel-caption h3 {
  color: #fff !important;
}

.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  transition: .2s;
}
.modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}
.nav-tabs li a {
  color: #777;
}  
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}  
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}

/**********************************************  Profile CSS  **************************************************/
.profile img.image-lg{
  z-index: 0;
  margin-bottom: 10px;
}
.image-lg{
   width: 100%;
  height: 500px;
  background-size: cover;
  border: 2px #efefef solid;

}
.image-profile
{
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%; 
  background-size: cover;
  border: 5px #efefef solid;
  border-radius: 50%;
}

@media (max-width:768px)
{
  .profile-text>h1{
    font-weight: 700;
    font-size:16px;

  }
}

/************************************* Project CSS ************************************************************************/

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 40%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Style the buttons */
.btn {
    padding: 12px 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}
#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
/*********************/
