<div  ng-controller='project' >

  <!-- this section for navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-dark " >
   <a class="navbar-brand" href="#" ><strong>WebSiteName</strong></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
        <a href="#!/profile" class="nav-link"><span class="glyphicon glyphicon glyphicon-user"></span> Profile</a>
      </li>
      <li class="nav-item">
        <a href="#" ng-click="logout()" class="nav-link"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
  </ul>
</div>
  </nav>
  <!-- End Navigation Bar section--> 

  <div ng-view></div>

  <div class="container">
    <form>
    <div class="row">
        <div class="col">
            <!-- Material input -->
           <h3> Project Name : </h3> 
            <div class="md-form mt-0">
               <input type="text" class="form-control" name="project-name" " placeholder="Type project name" ng-model="projectName">
            </div>
        </div>
        <div class="col">
          <h3>Project Discription : </h3>
            <div class="md-form mt-0">
                <input type="text" class="form-control" name="project-desc" placeholder="Type project description"  ng-model="projectDisc">
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
</form>
<button type="button" class="btn btn-primary btn-rounded" ng-click="addproject()">Add</button>

    <div class="container">
      <div id="btnContainer" class="md-form mt-0">
             <li class="fa fa-search"></li>  <input type="text" id="myInput" placeholder="Search for names.." ng-model="searchText">
        <button class="btn aa active" onclick="listView()"><i class="fa fa-bars"></i> List</button> 
        <button class="btn aa " onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
      </div>
      <br>

      <div class="row" >
        <div class="column"  ng-repeat = "project in projects | filter:searchText">
          <div class="w3-container">
            <ul class="w3-ul  w3-hoverable " >
              <li class="w3-bar" style="border: 2px solid black; padding: 10px; border-radius: 25px;" >

                <div class="w3-card w3-animate-right " style="right:0; align-items: center;" id="rightMenu" ng-show="bar">
                  <!-- we used data-target to connect this button on Modal fadeout-->
                  <a href="#" class="w3-bar-item w3-button" ng-click="deleteProject(project)" style="color: white;">Delete</a>
                  <a href="#" class="w3-bar-item w3-button" ng-click="sendproj(project)" data-target="#myModalEdit" data-toggle="modal" style="color: white;">Update</a>
                </div>

                <div class="w3-teal">
                  <button class="w3-button w3-xlarge w3-right" ng-click="bar = !bar"  style="background-color: #C74848 ;" >&#9776;</button>
                  <div class="w3-container" style="background-color: #C74848 ;" ng-click="viewProjectId(project._id)">
                    <h2>{{project.projectName}}</h2>
                  </div>
                </div>

                <h3 class="w3-bar-item  w3-hide-small" style="width:85px">{{$index+1}} 📃</h3>
                <div class="w3-bar-item" ng-click="viewProjectId(project._id)">
                  <span class="w3-large" >{{project.projectDisc}}</span><br>

                  <span class="badge badge-primary badge-pill">Tasks : {{project.tasks.length}}</span>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>

      <!-- Modal fadeout, this will appear for user when he press on update button-->
      <div class="modal fade" id="myModalEdit" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit This Project</h4>
            </div>
            <div class="modal-body">

             <!-- user can add new project here -->
             <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="control-label col-sm-2">NewName:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="newprojName" placeholder="Change Your Project Name">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2">Description:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="newprojDesc" placeholder="Change Your Project Description">
                </div>
              </div>
              <br>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                </div>
              </div>
            </form>

          </div>
          <div class="modal-footer">
                  <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="changeProj()">Save</button> 
          </div>
        </div>

      </div>
    </div>
  </tbody>
</table>
</div>
</div>