<div class="col-xs-2" ng-controller='project' style="top:50px;">
<nav class="navbar-inverse navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ng-click="$window.location.href = 'index.html'">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"  ng-click="IsVisible = true" >Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" ng-click="logout()" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div ng-view></div>

	<h3>add project</h3>
	<input name="project-name" class="form-control" ng-model="projectName">
	<h3>add description</h3>
	<input name="project-desc" class="form-control" ng-model="projectDisc">
	</br></br>
	<button class="btn btn-primary" ng-click="addproject()">add</button>
	<div ng-repeat = "project in getter">
		<h3>{{project}}</h3>
		<h4>{{project.projectDisc}}</h4>
	</div>
</div>
